# Database configuration
DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=coworking

# JWT configuration
JWT_SECRET_KEY=your_jwt_secret_key
JWT_EXPIRES=24h

# Email configuration (for Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=newpc50k@gmail.com
EMAIL_PASS=your_app_password

# YooKassa configuration
YOO_SHOP_ID=1336333
YOO_SECRET_KEY=test_BDd8xdxpc6iRSzO3Cgz_xub7jNU5FMFHCswcP5Z14P8
YOO_RETURN_URL=http://localhost:5173/user?payment=return
YOO_CREATE_RECEIPT=false
